<form action="" class="formulario" id="formulario">

    <div class="seccionformulario" id="seccion__nombre">
        <label for="nombre" class="formulario__label">Nombre</label>
        <div class="seccionformulario-input">
            <input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="Nisely Romero">
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
        </div>
    </div>

    <div class="seccionformulario" id="seccion__correo">
        <label for="correo" class="formulario__label">Correo</label>
        <div class="seccionformulario-input">
            <input type="email" class="formulario__input" name="correo" id="correo" placeholder="name@gmail.com">
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
        </div>
    </div>

    <div class="continuamos">
        <p>¡Ya tienes una cuenta? <a id="continuar" href="continuar" >Continuar</a> </p>
    </div>

</form>