.navegacion {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	margin-bottom: 3rem;
	position: relative;
}

.menus {
    list-style: none;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	height: 110px;
	gap: 1rem;
	padding: 0rem 1rem;
	background-color: rgba(182, 245, 242, 0.363);
}

.menus a {
    text-decoration: none;
	color: rgba(7, 7, 7, 0.986);
	padding: 27px;
	display: block;
    font-size: 20px;
	margin-bottom: 1px;
	text-align:center;
	margin-top: 15px;
}
.menus a:hover{
    border-bottom: 3px solid rgb(8, 53, 56);
}